# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myvenv/

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.local

# Models training cache
.cache/
.pickle

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/